TP_2/src/xsd/ServiceBanque.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT  BanqueService (conversion,getComptes,getCompte)>
<!ELEMENT conversion (montant)>
<!ELEMENT montant (#PCDATA)>


<!ELEMENT getCompte (Compte)>
<!ELEMENT getComptes (Compte+)>
<!ELEMENT Compte (code,solde,date)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT solde (#PCDATA)>
<!ELEMENT dateCreation (#PCDATA)>
